$def with(clientes)
<h3>
    <a href="../master.html">clientes</a>
    <a href="/clientes/insert">insertar cliente</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in clientes:
        <tr>
            <td><a href='/clientes/view/$item.id_cliente'>$item.nombre_cliente</a></td>
            <td><a href='/clientes/view/$item.id_cliente'>$item.apellido_paterno_cliente</a></td>
            <td><a href='/clientes/view/$item.id_cliente'>$item.apellido_materno_cliente</a></td>
            <td><a href='/clientes/edit/$item.id_cliente'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/clientes/delete/$item.id_cliente'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>